*{
    font-family: 'Roboto', sans-serif;
}
.content{
    display: grid;
    grid-template-rows: 1fr;
    justify-content: center;
}
.content h1{
    padding: 1rem;
}

.pokemon-li{
   
    background-color: #00FA9B;
    border-radius: 25px;
    margin: 20px;
    
    
}


.detail{
   display: flex;
   margin: 25px;
   border-radius: 15px;
   list-style: none;
   
}
.detail-div{
    margin:10px;
}
.detail img{
    width:50%; 
    position: relative;
    left: 50%; 
}
.detail-div li {
    list-style: none;
    background-color: #C1F0E0;
    border-radius: 15px;
    margin-right: 100px;
    position: relative;
    right: 15px;
    
    margin-top: 5px;
    padding: 5px;
    font-size: 10px;
    
}


span{
    font-size: 15px;
    margin: 15px;
    color:black;
}

.green{
    background-color: #61EDBF;
    color: #00FA9B;
}
